<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="callserver" value="192.168.17.129" />
    <add key="extension" value="40010" />
    <add key="extension.password" value="40010" />
    <add key="telecommuter.number" value="40011" />
    <add key="DMCC.server_ip" value="192.168.17.128" />
    <add key="DMCC.username" value="avaya"/>
    <add key="DMCC.password" value="avayapassword" />
    <add key="DMCC.protocol_version" value="http://www.ecma-international.org/standards/ecma-323/csta/ed3/priv1" />
    <add key="DMCC.server_port" value="4722" />
    <add key="DMCC.secure" value="true" />
  </appSettings>
</configuration>